/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
composer.lock
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
/Modules/User
/Modules/Dashboard
/Modules/Logs
/Modules/ModuleManager
*.gitkeep
/resources/lang/user
/resources/lang/dashboard
/resources/lang/logs
/resources/lang/modulemanager
/resources/views/modules