/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
composer.lock
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
/Modules/*
/Themes/*
*.gitkeep
/resources/lang/user
/resources/lang/dashboard
/resources/lang/logs
/resources/lang/workshop
/resources/lang/core
/resources/lang/menu
/resources/lang/language
/resources/views/modules
/resources/views/vendor
/resources/lang/vendor
/config/dashboard.php
/config/language.php
/config/logs.php
/config/user.php
/config/workshop.php
/config/core.php
/config/menu.php
