/node_modules
/public/hot
/public/storage
/public/modules
/storage/*.key
/vendor
.idea
.vscode
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
.phpstorm.meta.php
composer.phar
composer.lock
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
*.gitkeep
/public/themes/*
/public/modules/*
/resources/lang/vendor
/resources/views/vendor